@font-face {
  font-family: "Bystander";
  src: url("BystanderSans-Medium.woff2") format("woff2"),
    url("BystanderSans-Medium.woff") format("woff"),
    url("BystanderSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
